<h2>Edit the Profile</h2>

<div class='row'>
  <form action='/profile/edit/{{_id}}' method='post' enctype='multipart/form-data'>
    <div class='form-group'>
      <label for='username'>
        Username:
        <input type='text' name='username' class='form-control' value='{{username}}' />
      </label>
    </div>
    <div class='form-group'>
      <label for='ocupation'>
        Ocupation
        <textarea
          name='ocupation'
          cols='30'
          rows='10'
          class='form-control'
        >{{ocupation}}</textarea>
      </label>
    </div>
    
    
    <input type='text' value='{{image}}' name='currentImage' hidden />

    <div class='form-group'>
      <label for='image'>
        Profile Image:
        <input type='file' name='image' class='form-control-file' />
      </label>
    <button type='submit' class='btn btn-primary'>Edit Profile</button>
  </form>
</div>